<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Error',
        description: 'Logseq の ToDo List v1.16.4 から Trello のチェックリストに投げるようにコンバートをかける簡易的なフォーム。',
        ogp: {
            card: 'summary_large_image',
            account: 'Bredtn_1et',
            type: 'website',
            image: 'https://source.unsplash.com/hnkYzDJFXfQ/1920x1080'
        },
        errFlag: true
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<main class="l-main">
    <section class="container my-5">
        <h1>Error</h1>
        <p>An error has occurred.</p>
    </section>
</main>
<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>