<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Home',
        description: 'Logseq の ToDo List v1.16.4 から Trello のチェックリストに投げるようにコンバートをかける簡易的なフォーム。',
        ogp: {
            card: 'summary_large_image',
            account: 'Bredtn_1et',
            type: 'website',
            image: 'https://source.unsplash.com/hnkYzDJFXfQ/1920x1080'
        },
        errFlag: false
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<main class="l-main">
    <section class="container py-5">
        <h1><i class="fa-solid fa-fw fa-eye me-2" aria-hidden="true"></i><%= parameters.title %></h1>
        <p><%= parameters.description %></p>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="mt-4 mb-3">Original</h2>
                <textarea name="original" id="original" rows="28" class="form-control w-100" placeholder="
Type to search, enter to create
Marker:
ALL
Priority:
ALL
Today

TODO Visionary Tuning
2023-01-01


TODO Illusion Seeker
2023-01-01


Scheduled

TODO Illusionary Blast
2023-12-31

"></textarea>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="mt-4 mb-3">Converted result</h2>
                <textarea name="converted-result" id="converted-result" rows="28" class="form-control w-100" placeholder="TODO [2023-12-31] Illusion Seeker

TODO [2023-01-01] Visionary Tuning

TODO [2023-01-01] Illusionary Blast
"></textarea>
            </div>
        </div>
    </section>
</main>
<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>